@import "tailwindcss";

:root {
  --background: #020101;
  --foreground: #f0ecec;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@font-face {
  font-family: 'Akira Expanded';
  src: url('/font/AkiraExpanded-SuperBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-akira {
  font-family: 'Akira Expanded', sans-serif;
}

.bg-banner {
  background-image: url('/bannerbg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-footer {
  background-image: url('/img/footerbg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}